<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" type="text/css" media="screen" href="../../static/css/jactor-rises.css"
          th:href="@{/css/jactor-rises.css}"/>
    <link rel="stylesheet" type="text/css" media="screen" href="../../static/css/syntax.css"
          th:href="@{/css/syntax.css}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div th:fragment="header">
    <div class="containerMain">
        <table style="table-layout: fixed; width: 2048px">
            <tr>
                <td>
                    <div class="alignLeft">
                        <div th:if="${isNorwegian}">
                            <a href="home">
                                <img src="../../static/images/icons/opera.gif" th:src="@{/images/icons/opera.gif}"/>
                            </a>
                        </div>
                        <div th:if="${isThai}" class="tooltip">
                            <a href="home">
                                <img src="../../static/images/icons/wat.gif" th:src="@{/images/icons/wat.gif}"/>
                            </a>
                        </div>
                        <div th:if="${isEnglish}" class="tooltip">
                            <a href="home">
                                <img src="../../static/images/icons/bigben.gif" th:src="@{/images/icons/bigben.gif}"/>
                            </a>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="alignCenter">
                        <img src="../../static/images/icons/holmenkollen.jpeg"
                             th:src="@{/images/icons/holmenkollen.jpeg}"/>
                    </div>
                </td>
                <td>
                    <div class="alignRight">
                        <table>
                            <tr>
                                <td>
                                    <a th:if="${isEnglish} == false" th:href="@{${currentUrl}(lang=en)}">
                                        <img src="../../static/images/icons/flag.eng.choose.gif"
                                             alt="English" th:src="@{/images/icons/flag.eng.choose.gif}"/>
                                    </a>
                                    <div th:if="${isEnglish} == true">
                                        <img src="../../static/images/icons/flag.eng.chosen.gif"
                                             alt="English is chosen" th:src="@{/images/icons/flag.eng.chosen.gif}"/>
                                    </div>
                                </td>
                                <td>
                                    <a th:if="${isNorwegian} == false" th:href="@{${currentUrl}(lang=no)}">
                                        <img src="../../static/images/icons/flag.nor.choose.gif"
                                             alt="Norsk" th:src="@{/images/icons/flag.nor.choose.gif}"/>
                                    </a>
                                    <div th:if="${isNorwegian} == true">
                                        <img src="../../static/images/icons/flag.nor.chosen.gif"
                                             alt="Norsk er valgt" th:src="@{/images/icons/flag.nor.chosen.gif}"/>
                                    </div>
                                </td>
                                <td>
                                    <a th:if="${isThai} == false" th:href="@{${currentUrl}(lang=th)}">
                                        <img src="../../static/images/icons/flag.thai.choose.gif"
                                             alt="ไทย" th:src="@{/images/icons/flag.thai.choose.gif}"/>
                                    </a>
                                    <div th:if="${isThai} == true">
                                        <img src="../../static/images/icons/flag.thai.chosen.gif"
                                             alt="ภาษาคือภาษาไทย" th:src="@{/images/icons/flag.thai.chosen.gif}"/>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>
