<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../static/css/jactor-rises.css" th:href="@{/css/jactor-rises.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/syntax.css" th:href="@{/css/syntax.css}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>homepage</title>
</head>
<body>
<div with="homepage=${homepage}">homepage variable</div>
<div id="page.text.left">
    <h1 th:text="#{page.home.welcome">welcome</h1>
    <p th:text="#{page.home.paragraph.a">first</p>
    <p th:text="#{page.home.paragraph.b">second</p>
    <p th:text="#{page.home.paragraph.c">third</p>
    <ul>
        <li>
            <a href="http://http://maven.apache.org" target="_blanc">Maven</a>
            <div th:text="#{page.home.tech.maven">for building</div>
        </li>
        <li>
            <a href="https://spring.io/projects/spring-framework" target="_blanc">Spring Framwork</a>
            <div th:text="#{page.home.tech.springframework">for di</div>
        </li>
        <li>
            <a href="https://spring.io/projects/spring-boot" target="_blanc">Spring Boot</a>
            <div th:text="#{page.home.tech.springboot">for apps</div>
        </li>
        <li>
            <a href="http://hibernate.org/orm/" target="_blank">Hibernate ORM</a>
            <div th:text="#{page.home.tech.hibernate}">for persistence</div>
        </li>
        <li>
            <a href="https://www.thymeleaf.org" target="_blanc">Thymeleaf</a>
            <div th:text="#{page.home.tech.thymeleaf">for web pages</div>
        </li>
        <li>
            <a href="https://junit.org/junit5/" target="_blanc">JUnit</a>
            <div th:text="#{page.home.tech.junit">for unit testing</div>
        </li>
        <li>
            <a href="http://site.mockito.org" target="_blanc">Mockito</a>
            <div th:text="#{page.home.tech.mockito">for mocking in unit tests</div>
        </li>
        <li>
            <a href="https://joel-costigliola.github.io/assertj/" target="_blanc">AssertJ</a>
            <div th:text="#{page.home.tech.assertj">for asserting in unit tests</div>
        </li>
        <li>
            <a href="https://github.com/jactor-rises" target="_blanc">GitHub</a>
            <div th:text="#{page.home.tech.git">for released source control</div>
        </li>
    </ul>
</div>
</body>
</html>
