<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/jactor-rises.css" th:href="@{/css/jactor-rises.css}"/>
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/syntax.css" th:href="@{/css/syntax.css}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title th:text="#{page.home.title}">homepage</title>
</head>
<body>
<div id="page.text.left" th:with="homepage=${homepage}">
    <h2 th:text="#{page.home.welcome}">jactor-rises</h2>
    <div th:each="paragraph : ${homepage.getParagraphs()}">
        <p th:text="${paragraph}">This is my sandbox</p>
    </div>
    <div th:text="#{page.home.techs}">tech used:</div>
    <table th:each="technology : ${homepage.getTechnologies()}">
        <tr>
            <td><a th:href="${technology.getUrl()}" target="_blank">
                <div th:text="${technology.getTech()}">tech</div>
            </a></td>
        </tr>
        <tr>
            <td th:text="${technology.getMessage()}">tech description</td>
        </tr>
    </table>
</div>
</body>
</html>
