<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../static/css/jactor-rises.css" th:href="@{/css/jactor-rises.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/syntax.css" th:href="@{/css/syntax.css}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title th:text="#{page.user.title}">user pages</title>
</head>

<body>
<div id="page.text.left">
    <th:block>
        <th:swithch
        ="${user}">
        </th:swithch>
    </th:block>
    <c:choose>
        <c:when test="${user != null}">
            <p>
                <fmt:message key="page.user.name"/>
                : ${user.firstName} ${user.surname}<br/></p>
            <p>
                ${user.addressLine1}<br/>

                <c:choose>
                    <c:when test="{user.addressLine2 != null">
                        ${user.addressLine2}<br/>
                    </c:when>
                </c:choose>

                ${user.zipCode} ${user.city}<br/>
                <fmt:message key="${user.country}"/>
            </p>

            <p>${user.description}</p>
        </c:when>
        <c:otherwise>
            <fmt:message key="page.user.nothing"/>
        </c:otherwise>
    </c:choose>
</div>
</body>
</html>
