<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
  <link rel="stylesheet" type="text/css" media="screen" href="../../static/css/jactor-rises.css"
        th:href="@{/css/jactor-rises.css}"/>
</head>
<body>
<header th:fragment="header" class="header">
  <div class="container">
    <table>
      <tr>
        <td class="alignLeft">
          <a th:if="not ${isEnglish}" th:href="@{${currentUrl}(lang=en)}" title="English">
            <img src="../../static/images/icons/flag.eng.choose.gif"
                 th:src="@{/images/icons/flag.eng.choose.gif}"/>
          </a>
          <img th:if="${isEnglish}" src="../../static/images/icons/flag.eng.chosen.gif"
               title="English is chosen" th:src="@{/images/icons/flag.eng.chosen.gif}"/>
          <br/>
          <a th:if="not ${isNorwegian}" th:href="@{${currentUrl}(lang=no)}" title="Norsk">
            <img src="../../static/images/icons/flag.nor.choose.gif"
                 th:src="@{/images/icons/flag.nor.choose.gif}"/>
          </a>
          <img th:if="${isNorwegian}" src="../../static/images/icons/flag.nor.chosen.gif"
               title="Norsk er valgt" th:src="@{/images/icons/flag.nor.chosen.gif}"/>
          <br/>
          <a th:if="not ${isThai}" th:href="@{${currentUrl}(lang=th)}" title="ไทย">
            <img src="../../static/images/icons/flag.thai.choose.gif"
                 th:src="@{/images/icons/flag.thai.choose.gif}"/>
          </a>
          <img th:if="${isThai}" src="../../static/images/icons/flag.thai.chosen.gif"
               title="ภาษาคือภาษาไทย" th:src="@{/images/icons/flag.thai.chosen.gif}"/>
        </td>
        <td>
          <div class="alignRight">
            <div th:if="${isNorwegian}">
              <a href="home" th:title="#{page.home.title}">
                <img src="../../static/images/icons/opera.gif" th:src="@{/images/icons/opera.gif}"/>
              </a>
            </div>
            <div th:if="${isThai}">
              <a href="home" th:title="#{page.home.title}">
                <img src="../../static/images/icons/wat.gif" th:src="@{/images/icons/wat.gif}"/>
              </a>
            </div>
            <div th:if="${isEnglish}">
              <a href="home" th:title="#{page.home.title}">
                <img src="../../static/images/icons/bigben.gif" th:src="@{/images/icons/bigben.gif}"/>
              </a>
            </div>
          </div>
        </td>
        <td>
          <div class="alignLeft">
            <p>
              <a th:if="${chosenView!='home'} AND ${chosenView!=''}" href="home"
                 th:text="#{page.home.title}">home sweet home</a>
              <span th:if="${chosenView=='home'} OR ${chosenView==''}"
                    th:text="#{page.home.title}">home sweet home</span>
            </p>
            <p>
              <a th:if="${chosenView!='user'}" href="user" th:text="#{page.user.title}">users page</a>
              <span th:if="${chosenView=='user'}" th:text="#{page.user.title}">users page</span>
            </p>
            <p>
              <a th:if="${chosenView!='about'}" href="about" th:text="#{page.about.title}">about page</a>
              <span th:if="${chosenView=='about'}" th:text="#{page.about.title}">about page</span>
            </p>
          </div>
        </td>
      </tr>
    </table>
  </div>
</header>
</body>
</html>
