body {
    background: url(../images/backgrounds/wood04.jpg);
    background-repeat: repeat;
    color: #333333;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 1.5;
    margin-left: 20px;
    margin-top: 0;
    text-align: left;
}

#containerMain {
    vertical-align: top;
}

#containerMenuLeft {
    text-align: left;
    vertical-align: top;
    width: 128px;
}

#containerMenuRight {
    text-align: right;
    vertical-align: top;
    width: 128px;
}

#alignLeft {
    text-align: left;
    align-content: left;
    align-items: left;
    align-self: left;
    alignment: left;
}

#alignCenter {
    text-align: center;
    align-content: center;
    align-items: center;
    align-self: center;
    alignment: center;
}

#alignRight {
    text-align: right;
    align-content: right;
    align-items: right;
    align-self: right;
    alignment: right;
}

h1 {
    color: graytext;
    font-size: 18px;
    font-weight: bold;
    padding: 7px 0 20px;
}

h2 {
    color: black;
    font-size: 16px;
    font-weight: bold;
}

p {
    color: black;
    font-size: 13px;
}

#header {
    align-content: center;
    width: 1280px;
}

#footer {
    text-align: center;
    width: 1280px;
}

#menu.item {
    font-size: 0.25em;
    height: 15px;
    align-content: left;
    width: 175px;
    vertical-align: top;
    text-align: justify;
}

.button {
    background: url(../images/backgrounds/background01.gif) no-repeat;
    width: 175px;
    height: 50px;
    float: right;
    text-align: left;
    font-weight: bold;
    border-style: none;
}
